# Ignorar arquivos e pastas específicas
*.log
*.tmp
*.bkp
*.meta
temp/
build/
writable/
uploads/
uploads/backup/
lixo/
tests/
copia/
data/.minio.sys/

# Ignorar dependências de projetos Node.js
node_modules/

# Ignorar configurações específicas do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos pessoais de configuração do VSCode
#.vscode/

# Ignorar arquivos de configuração do JetBrains IDEs
data/.minio.sys/
